.highcharts-credits{
    display: none;
}
.highcharts-axis-title{
    tspan{
        font-size: 20px;
        font-weight: 600;
        color:#000 !important;
        fill:#000 !important;
    }    
}
.highcharts-axis-labels{
    text{
        font-size: 15px !important;
        font-weight: 600;
    }
}
.mr-20{
    margin-top: 25px;
}
#linechart{
    min-height: 400px;
}